# tech stack

- python
- libraries in python (ai , nlp , etc)


## goal 

- buidling an finance ai system for mutifamily apartment (rent roll , t12)


### note 

- use the simpler and effective code 
